<h2>Ticketers for <%= @production.title %></h2>
<input id="search-ticketers" type="text" class="form-control" placeholder="Search Ticketers">
<table id="ticketers" class="table">
  <tr><th>Name</th><th>Email</th><th>Status</th><th></th><th></th></tr>
  <% @production.ticketers.sort.each do |u| %>
    <tr><td><%= u.name %></td><td><%= u.email %></td><td>
        <% if u.superadmin %>
          <span style='color: blue'>Superadmin</span>
        <% elsif u.can_manage @production %>
          <span style='color: green'>Manager</span>
        <% else %>
          <span style='color: black'>Ticketer</span>
        <% end %>
      </td>
        <% if current_user and current_user.superadmin %>
            <td style="text-align:center">
                <% unless u.superadmin %>
          <% if u.can_manage @production %>
            <button data-href="/user/<%=u.id%>/make_ticketer/<%=@production.id%>/0" type="button" class="btn btn-warning make_manager">Demone to Ticketer</button>
          <% elsif %> 
            <button data-href="/user/<%=u.id%>/make_ticketer/<%=@production.id%>/1" type="button" class="btn btn-success make_manager">Promote to Manager</button>
        <% end %>
    <% end %>
          </td>
        <% end %>
      <td style="text-align:center">
        <button data-href="/user/<%=u.id%>/remove_ticketer/<%=@production.id%>" type="button" class="btn btn-danger remove_ticketer">Remove from Production</button>
      </td>
    </tr>
  <% end %>
</table>

<h2>Non Ticketers for <%= @production.title %></h2>

<input id="search-non-ticketers" type="text" class="form-control" placeholder="Search Non Ticketers">
<table id="non-ticketers" class="table">
  <tr><th>Name</th><th>Email</th><th></th></tr>
  <% @production.non_ticketers.sort.each do |u| %>
    <tr><td><%= u.name %></td><td><%= u.email %></td><td>
        <button data-href="/user/<%=u.id%>/make_ticketer/<%=@production.id%>/0" class="btn btn-success make_ticketer">Add to Production</button>
      </td>
    </tr>
  <% end %>
</table>


