<div id="wrap">
<div class="navbar navbar-default" role="navigation">
<div class="container-fluid">

  <ul class="nav navbar-nav navbar-left">
    <% unless current_user.nil? %>
      <li><a href="/user">Production List</a></li>
    <% end %>
    <% unless @production.nil? %>
      <li><a href="/production/<%= @production.webname %>" class="brand"><%= @production.full_title %></a></li>
    <% end %>

  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="/user/login">Login</a></li>
    <% unless current_user.nil? %>
      <li><a href="/user/logout">Logout</a></li>
      <li><a href="/user"><%= current_user.name %></a></li>
      <li><div style="padding:10px"><a href="https://en.gravatar.com"><img style="width:30px" src="<%= current_user.gravatar_url %>"</img></a></div></li>
    <% end %>
  </ul>
</div>
</div>

  <div class="container">
  
<%= yield %>
  </div>
  <div id="push">
  </div>
</div>
<div id="footer">
  <div class="container">
    <p id="credit">Created by <a href="http://cserevue.org.au">CSE Revue</a></p>
  </div>
</div>

<%= parent_layout 'application' %>
